.join_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 110px;
}

.join_title {
  margin: 30px 0 40px 0;
}

.join {
  width: 40%;
  border: 0.5px solid rgb(143, 131, 131);
  border-radius: 2%;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1em 3em;
}

.label {
  font-size: 17px;
  margin: 1em 0 0.8em;
}

.input {
  border-style: none;
  border-bottom: 1.5px rgb(143, 131, 131) solid;
  font-size: 14.5px;
}

.input:focus {
  outline: none;
  border-bottom: 1.5px rgb(249, 217, 36) solid;
}

.warning {
  color: red;
  font-size: 12px;
  text-align: right;
  margin: 0 0 1px;
}
.button {
  margin: 20px 0;
  border: none;
  background: rgb(249, 217, 36);
  width: 30%;
  font-size: 14px;
  height: 40px;
}
.button:enabled {
  cursor: pointer;
}

.button:disabled {
  background: lightgrey;
  color: rgba(0, 0, 0, 0.416);
}
