.login_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #00000080;
}

.login {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  background: white;
  color: black;
}
