.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.loading {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid rgb(143, 131, 131);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_text {
  margin-top: 10px;
}
