html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


main {
display: block;
text-align: center;
padding: 190px;
}


h1 {
font-size: 2em;
margin: 0.67em 0;
}


hr {
box-sizing: content-box; /* 1 */
height: 0; /* 1 */
overflow: visible; /* 2 */
}


pre {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}

ul{
  list-style-type: none;
  padding: 0;
}

a {
background-color: transparent;
text-decoration: none;
}
a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}





abbr[title] {
border-bottom: none; /* 1 */
text-decoration: underline; /* 2 */
text-decoration: underline dotted; /* 2 */
}

b,
strong {
font-weight: bolder;
}


code,
kbd,
samp {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}


small {
font-size: 80%;
}



sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -0.25em;
}

sup {
top: -0.5em;
}



img {
border-style: none;
}



button,
input,
optgroup,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 1 */
line-height: 1.15; /* 1 */
margin: 0; /* 2 */
}



button,
input { /* 1 */
overflow: visible;
}



button,
select { /* 1 */
text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}


fieldset {
padding: 0.35em 0.75em 0.625em;
}



legend {
box-sizing: border-box; /* 1 */
color: inherit; /* 2 */
display: table; /* 1 */
max-width: 100%; /* 1 */
padding: 0; /* 3 */
white-space: normal; /* 1 */
}


progress {
vertical-align: baseline;
}



textarea {
overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}

/* Interactive
  ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
display: list-item;
}

/* Misc
  ========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
display: none;
}

[hidden] {
display: none;
}

.container, .container-inner{
  margin: 0 auto;
  width: 100%;
}

.container{
  max-width: 1350px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr 0.2fr;
  justify-content: space-between;
  align-items: center;
}

.container-inner {
  max-width: 1000px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  padding-top: 25px;
  z-index: 9 ;
  transition:  0.7s;
  border-bottom: 0.5px solid black;
}

.brand{
  font-size: 1.6em;
  color: #e54416;
}

nav .container-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .container ul{
  width: 100%;
  margin: 0 1em;
}

nav .container ul:nth-child(2){
  text-align: right;
}

nav .container ul li {
  display: inline-block;
  margin: 0 0.7em;
}

.log {
  font-size: 1.2em;
  
}

nav a {
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #e54416;
}

nav .fa-bars{
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s;
  text-align: right;
}

.menu{
  background:white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  height: 0;
  opacity: 0;
  transition: 0.7s
      cubic-bezier(.53,-0.03,.83,.67);
      overflow-y: hidden;   
}

menu ul, menu form{
  margin: 1em auto;
}

.menu li{
  margin: 1em 0;
}
.menu> div{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding:  6em 1em 3em 1em;
  height: 100%;
}

.menu > div::-webkit-scrollbar{
  display: none;
}
.social-media li{
  display: inline-block;
  margin: 0 0.5em;
}

.menu-open{
  color: #e54416;
  height: 100vh;
  opacity: 1;
}


.navbar-active{ 
  
  padding: 1em;
  background: rgb(143, 131, 131);
  
}



.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  
}

.grid-container div{
  border: 1px solid black;
}
.grid-container img{
  padding: 10px;
  width: 100%;
  height: 100%;
  background: black;
  
}
.footer-container{
  margin-top: 100px;
  bottom: 0;
  position: relative;
  background: rgb(143, 131, 131);
  width: 100%;
  height: 200px;
  color: antiquewhite;
  text-align: center;
  padding: 20px;
  font-size: 0.7em;
}


.banner{
  overflow: hidden;
  padding-bottom: 50px;
  
}

.banner-container{
  width: 500vW;
  transition: all 1s;
  position: relative;
}
  
.slide-box{
  width: 100vW;
  float: left;
  
}
.slide-box img{
  width: 100%;
  height: 500px;
}

.slide-btn{
  opacity: 0.7;
  background-color: gray;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  font-size: 3.3rem;
  color: white;
  padding: 0 10px;
}
.slide-btn:hover{
  background-color: black;
}
.slide-btn + .slide-btn{
  margin-left: 88%;
}
.slide-dot{
  display: inline-block;
  background: lightgray;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.slide-currentdot{
  background-color: black;
  display: inline-block;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.slide-dot:hover{
  background-color: black;
}
.slide-dot + .slide-dot{
  margin-left: 20px;
}
.slide-dot + .slide-currentdot{
  margin-left: 20px;
}
.slide-currentdot + .slide-dot{
  margin-left: 20px;
}
.dot-box{
  align-items: center;
  width: 100%;
}
.arrow-btn{
  position: relative; left: 10px; top: -280px;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.white-bg {
  margin-top: 200px;
  min-height: 50%;
  background: white;
  border-radius: 5px;
  padding: 200px;
  text-align: center;
}
.show-modal{
  visibility: visible;
  opacity: 1;
}
.left-menu{
  width: 15%;
  background: #e54416;
}
.main-board{
  height: 800px;
  width: 80%;
  background-color: aquamarine;
}
.go{
  display: flex;
}





@media screen and (max-width: 800px){
  nav .container-inner{
      display: none;
  }
  nav .container{
      grid-template-columns: 1fr 1fr;
  }   
}